*{
  padding: 0;
  margin: 0;
  /* para inputs nao ultrapassarem a area maxima da div na qual estao: */
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: #efefef;
  /* ajudar depois a ter o rodapé colado no fim da pagina: */
  height: 100%;
}