.containerLogin{
    border: 2px solid;
    padding: 15px;
    height: 600px;
    width: 300px;
    background-color: white;    

    position: relative;
}

.titulo{
    display: flex;
    justify-content: center;
}

.containerLoginForm{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50%;
    left: 3em;
}

