.container{
    width: 1200px;
    /* posicionar os elementos mais facilmente: */
    display: flex;
    /* espaçar os elementos de forma igual ao longo da linha horizontal */
    justify-content: space-between;
    /* centralizar ele na tela */
    margin: 0 auto;
    /* quando os elementos filhos ultrapassarem o limite de 1200px, eles vao para baixo ocupar outra linha: */
    flex-wrap: wrap;
}
/* para o conteudo ocupar uma altura minima da tela */
.min_height{
    min-height: 75%;
}


.start{
    /* colocar os conteudos pro inicio ao inves de ser space-around  */
    justify-content: flex-start;
}

/* layout colunar, pq o flex vem em row(linha)*/
.column{
    flex-direction: column;
    /* colocar os conteudos pro inicio ao inves de ser space-around  */
    justify-content: flex-start;
}