.card{
    background: #FFFFFF;
    padding: 15px;
    width: 25em;
    height: max-content;
    border-radius: 10px;
    margin-bottom: 1em;
}


/* sobre o pedido */
.detalhes{
    margin-bottom: 1em;
}
.detalhes ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.card hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.detalhes ul li{
    margin: 0;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.detalhes ul li svg{
    font-size: larger;    
    color: red;
}
    