.social_icons{
    /* tirar os pontinhos dos li */
    list-style: none;
    /* deixar um do lado do outro */
    display: flex;
    /* centralizar horizontalmente */
    justify-content: center;
    /* centralizaer verticalmente */
    align-items: center;
}

.social_icons li{
    /* afastar icones na lateral */
    margin: 0 1em;
}

/* imagens: */
.social_icons svg{
    /* tamanho */
    font-size: 1.5em;
    /* mouse muda para a "maozinha" */
    cursor: pointer;
    color: red;
}

