*{
    padding: 0;
    margin: 0;
}

.containerLogin{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 5px black;
}

.centralizar{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.FormLogin{
    margin: 5px;
}

.InputsForm{
    margin: 10px;
}

.btnLogin{
    display: flex;
    justify-content: center;
}



