

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 0.3em;
}


.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: #FFF;
    /* tirar o sublinhado: */
    text-decoration: none;
}

.item a:hover{
    color: #ff5b5b;
}

.item a svg{
    font-size: 2em;
}
